.decor1 {
    width: 128px;
    height: 128px;

    display: inline-block;

    position: absolute;
    pointer-events: none;
}

.decor2 {
    width: 256px;
    height: 256px;

    display: inline-block;

    position: absolute;
    pointer-events: none;
}

.decor3 {
    width: 512px;
    height: 512px;

    display: inline-block;

    position: absolute;
    pointer-events: none;
}