:root {
    --project-height: 100px;

}

.project {
    min-height: var(--project-height);

    margin-bottom: 10px;

    background-color: var(--div-background-color);
    border-style: var(--div-outline-style);
    border-color: var(--div-outline-color);
    border-width: var(--div-outline-width);

    padding: 5px;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-color);
}