#statuscafe {
    padding: .5em;
    margin-bottom: 10px;
    
    background-color: var(--div-background-color);
    border-style: var(--div-outline-style);
    border-color: var(--div-outline-color);
    border-width: var(--div-outline-width);

    padding: 5px;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-color);
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}