:root {
    --home-icon: url("images/icons/home.png");
    --about-icon: url("images/icons/about.png");
    --projects-icon: url("images/icons/projects.png");

    --topbar-height: 20px;
    --icon-size: 20px;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);

    padding: 0px 10px;

    display: inline-block;
    vertical-align: baseline;
}

.topbar {
    overflow: hidden;
    background-color: white;
    border-style: dotted;
    border-width: 1px;
    border-color: black;

    box-shadow: 0px 5px rgba(0, 0, 0, 0.5);

    margin-bottom: 10px;

    margin-left: auto;
    margin-right: auto;
    
    max-width: 586px;
}

.topbar p {
    float: right;
    margin-right: 5px;
    
    
}

.topbar-a-text {
    float: right;
}

.topbar a {
    float: left;
    padding: 0px 15px;
    background-color: rgba(0, 0, 0, 0);
}

.topbar a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}