@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); /* indie flower, the og,,*/
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('css/topbar.css');
@import url('css/bottombar.css');
@import url('css/projects.css');
@import url('css/blogs.css');
@import url('css/decor.css');
@import url('css/menu.css');
@import url('css/status.css');
@import url('css/dropdown.css');

/* themes!! */
.light {
    --div-outline-style: dotted;
    --div-outline-color: black;
    --div-outline-width: 1px;

    --div-background-color: white;

    --background-image: url("images/backgrounds/3.gif");
    --background-color: white;

    /* don't change these settings UNLESS you have a background image*/
    --background-position: center;
    --background-attachment: fixed;
    --background-size: 64px 64px;
    --background-repeat: repeat;

    --rss-icon: url("images/icons/rss.png");

    --shadow-x: 0px;
    --shadow-y: 5px;
    --shadow-color: rgba(0, 0, 0, 0.5);

    --invert-decor: 0%;
    --invert-background: 0%;
    --invert-icon: 0%;

    --decor-display: inline-block;
    --icon-display: inline-block;

    --text-color: black;
    --text-a-color: rgb(57, 76, 112);

    --hover-color: rgba(229.5, 229.5, 229.5, 1);
    --disabled: rgba(178.5, 178.5, 178.5, 1);
    --disabled-hover: rgba(153, 153, 153, 1);

    --font: 'Pixelify Sans';
}

.dark {
    --div-outline-style: dotted;
    --div-outline-color: rgb(255, 255, 255);
    --div-outline-width: 1px;

    --div-background-color: rgb(0, 0, 0);

    --background-image: url("images/backgrounds/3.gif");
    --background-color: black;

    /* don't change these settings UNLESS you have a background image*/
    --background-position: center;
    --background-attachment: fixed;
    --background-size: 64px 64px;
    --background-repeat: repeat;

    --rss-icon: url("images/icons/rss.png");

    --shadow-x: 0px;
    --shadow-y: 5px;
    --shadow-color: rgba(0, 0, 0, 0.5);

    --invert-decor: 100%;
    --invert-background: 100%;
    --invert-icon: 100%;

    --decor-display: inline-block;
    --icon-display: inline-block;

    --text-color: white;
    --text-a-color: rgb(164, 186, 226);

    --hover-color: rgb(26, 26, 26);
    --disabled: rgb(17, 17, 17);
    --disabled-hover: rgb(10, 10, 10);

    --font: 'Pixelify Sans';
}

.legacy {
    --div-outline-style: solid;
    --div-outline-color: rgb(0, 0, 0);
    --div-outline-width: 5px;

    --div-background-color: rgb(255, 255, 255);

    --background-image: url("images/backgrounds/1.png");
    --background-color: black;

    /* don't change these settings UNLESS you have a background image*/
    --background-position: left center;
    --background-attachment: fixed;
    --background-size: cover;
    --background-repeat: none;

    --rss-icon: url("images/icons/rss.png");

    --shadow-x: 0px;
    --shadow-y: 10px;
    --shadow-color: rgba(0, 0, 0, 0.5);

    --invert-decor: 0%;
    --invert-background: 0%;
    --invert-icon: 0%;

    --decor-display: none;
    --icon-display: inline-block;

    --text-color: black;
    --text-a-color: rgb(57, 76, 112);;

    --hover-color: rgb(26, 26, 26);
    --disabled: rgb(17, 17, 17);
    --disabled-hover: rgb(10, 10, 10);

    --font: 'Indie Flower';
}

.matcha {
    --div-outline-style: solid;
    --div-outline-color: rgb(76, 116, 82);
    --div-outline-width: 2px;

    --div-background-color: rgb(104, 155, 111);

    --background-image: none;
    --background-color: rgb(43, 56, 45);

    /* don't change these settings UNLESS you have a background image*/
    --background-position: center;
    --background-attachment: fixed;
    --background-size: 64px 64px;
    --background-repeat: repeat;

    --rss-icon: url("images/icons/rss-matcha.png");

    --shadow-x: 0px;
    --shadow-y: 5px;
    --shadow-color: rgba(0, 0, 0, 0.5);

    --invert-decor: 0%;
    --invert-background: 0%;
    --invert-icon: 0%;

    --decor-display: none;
    --icon-display: none;

    --text-color: rgb(238, 255, 239);
    --text-a-color: rgb(150, 230, 161);

    --hover-color: rgb(78, 126, 85);
    --disabled: rgb(37, 63, 41);
    --disabled-hover: rgb(23, 43, 26);

    --font: 'Pixelify Sans';
}

.terminal {
    --div-outline-style: solid;
    --div-outline-color: rgb(96, 207, 92);
    --div-outline-width: 2px;

    --div-background-color: rgb(10, 10, 15);

    --background-image: none;
    --background-color: rgb(10, 10, 15);

    /* don't change these settings UNLESS you have a background image*/
    --background-position: center;
    --background-attachment: fixed;
    --background-size: 512px 10px;
    --background-repeat: repeat;

    --rss-icon: url("images/icons/rss-terminal.png");

    --shadow-x: 0px;
    --shadow-y: 0px;
    --shadow-color: rgba(0, 0, 0, 0.5);

    --invert-decor: 100%;
    --invert-background: 0%;
    --invert-icon: 0%;

    --decor-display: none;
    --icon-display: none;

    --text-color: rgb(96, 207, 92);
    --text-a-color: rgb(136, 214, 133);

    --hover-color: rgb(26, 26, 26);
    --disabled: rgb(17, 17, 17);
    --disabled-hover: rgb(10, 10, 10);

    --font: 'JetBrains Mono', monospace;
}

/*my friend's themes :3*/
.durpydoo {
    --div-outline-style: solid;
    --div-outline-color: rgb(85, 207, 255);
    --div-outline-width: 2px;

    --div-background-color: rgb(222, 246, 255);

    --background-image: url("images/backgrounds/4.png");
    --background-color: rgb(222, 246, 255);

    /* don't change these settings UNLESS you have a background image*/
    --background-position: right center;
    --background-attachment: fixed;
    --background-size: cover;
    --background-repeat: none;

    --rss-icon: url("images/icons/rss-durpydoo.png");

    --shadow-x: 0px;
    --shadow-y: 5px;
    --shadow-color: rgba(42, 73, 85, 0.5);

    --invert-decor: 0%;
    --invert-background: 0%;
    --invert-icon: 0%;

    --decor-display: none;
    --icon-display: none;

    --text-color: rgb(39, 44, 46);
    --text-a-color: rgb(92, 128, 143);

    --hover-color: rgb(164, 207, 224);
    --disabled: rgb(106, 128, 136);
    --disabled-hover: rgb(49, 60, 65);

    --font: 'Comic Sans MS', 'Comic Neue';
}

.green {
    --div-outline-style: solid;
    --div-outline-color: rgb(91, 189, 67);
    --div-outline-width: 2px;

    --div-background-color: white;

    --background-image: url("images/backgrounds/5.png");
    --background-color: white;

    /* don't change these settings UNLESS you have a background image*/
    --background-position: center;
    --background-attachment: fixed;
    --background-size: 256px 256px;
    --background-repeat: repeat;

    --rss-icon: url("images/icons/rss-green.png");

    --shadow-x: 0px;
    --shadow-y: 5px;
    --shadow-color: rgba(0, 0, 0, 0.5);

    --invert-decor: 0%;
    --invert-background: 0%;
    --invert-icon: 0%;

    --decor-display: none;
    --icon-display: none;

    --text-color: black;
    --text-a-color: rgb(50, 80, 43);

    --hover-color: rgba(229.5, 229.5, 229.5, 1);
    --disabled: rgba(178.5, 178.5, 178.5, 1);
    --disabled-hover: rgba(153, 153, 153, 1);

    --font: 'Pixelify Sans';
}

* {
    font-family: var(--font), sans-serif;
}

pre {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-weight: 500;
    font-size: x-large;
}

h2 {
    font-weight: 500;
    font-size: larger;
}

h3 {
    font-weight: 500;
    font-size: large;
}

p, li {
    font-size: small;
}

a {
    text-decoration: none;
    color: var(--text-a-color);

    letter-spacing: normal;

    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

a:hover {   
    letter-spacing: .05rem;
    text-decoration: underline;

    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}


body {
    
    margin: 0px;
    padding: 0px;

    color: var(--text-color);

    position: relative;
    z-index: 0;
}

body::before {

    content: "";
    background-image: var(--background-image);
    background-color: var(--background-color);
    background-position: var(--background-position);
    background-attachment: var(--background-attachment);
    background-size: var(--background-size);
    background-repeat: var(--background-repeat);

    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100vw;
    min-height: 100vh;

    
    filter: invert(var(--invert-background));

    z-index: -1;
}

html {
    padding: 0px;
}

.div_text {
    max-width: 576px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
    background-color: var(--div-background-color);
    border-style: var(--div-outline-style);
    border-color: var(--div-outline-color);
    border-width: var(--div-outline-width);

    padding: 5px;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-color);
}

.btn {
    padding: 5px 10px;

    margin-bottom: 10px;
    
    background-color: var(--div-background-color);
    border-style: var(--div-outline-style);
    border-color: var(--div-outline-color);
    border-width: var(--div-outline-width);

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-color);

    color: var(--text-color);
    font-family: var(--font), sans-serif;
    font-weight: 400;
}

.btn:hover {
    background-color: var(--hover-color);
}

.btn.disabled {
    background-color: var(--disabled);
}
.btn.disabled:hover {
    background-color: var(--disabled-hover);
    cursor: not-allowed;
}

.rss-icon {
    width: 64px;
    height: 64px;

    background-image: var(--rss-icon);
    background-size: 64px 64px;
    display: block;

    margin-bottom: 10px;

    filter: invert(var(--invert-icon));
}

.blog-img {
    max-width: 75%;

    display: block;

    margin-bottom: 10px;
    
    background-color: var(--div-background-color);
    border-style: var(--div-outline-style);
    border-color: var(--div-outline-color);
    border-width: var(--div-outline-width);

    padding: 5px;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-color);
}

/*the COOLEST sroll bar*/

/* width */
::-webkit-scrollbar {
    width: 10px;
    
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--div-background-color);
    border-left: var(--div-outline-width) var(--div-outline-style) var(--div-outline-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--div-background-color);
    border: var(--div-outline-width) var(--div-outline-style) var(--div-outline-color);
    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--hover-color);
  }

/*html comment box styling*/
#HCB_comment_box {
    background-color: var(--div-background-color);
    border-style: var(--div-outline-style);
    border-color: var(--div-outline-color);
    border-width: var(--div-outline-width);

    padding: 5px;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-color);

    margin-bottom: 10px;
}

#HCB_comment_box p.error {
    border: 1px solid red;
    background-color: #fee
}

.hcb-mod b {
    color: #d34
}

#HCB_comment_box textarea,
#HCB_comment_box input.text,
#HCB_comment_box #hcb_form .btn
#HCB_comment_box #HCB_comment_form_box .btn {
    
    background-color: var(--div-background-color);
    border-style: var(--div-outline-style);
    border-color: var(--div-outline-color);
    border-width: var(--div-outline-width);

    padding: 5px;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-color);

    margin-bottom: 10px;
}

#HCB_comment_box .hcb-wrapper-half {
    display: block;
    width: 50%;
    float: left;

    
}

#HCB_comment_box .hcb-wrapper {
    clear: both
}

#HCB_comment_box #hcb_form_name {
    background-color: var(--div-background-color);
    border-style: var(--div-outline-style);
    border-color: var(--div-outline-color);
    border-width: var(--div-outline-width);

    padding: 5px;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-color);

    margin-bottom: 10px;
}

#HCB_comment_box input.text {
    display: block;
    width: 97%;

    background-color: var(--div-background-color);
    border-style: var(--div-outline-style);
    border-color: var(--div-outline-color);
    border-width: var(--div-outline-width);

    padding: 5px;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-color);

    margin-bottom: 10px;
}

#HCB_comment_box input.submit #hcb_submit {
    color: black;
    background-color: var(--div-background-color);
    border-style: solid;
    border-color: var(--div-outline-color);
    border-width: var(--div-outline-width);

    padding: 5px;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-color);

    margin-bottom: 10px;
    font-weight: 700;
    cursor: pointer
}

#HCB_comment_box div.comment {
    background-color: var(--div-background-color);
    border-style: var(--div-outline-style);
    border-color: var(--div-outline-color);
    border-width: var(--div-outline-width);

    padding: 5px;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-color);

    margin-bottom: 10px;
}

.hcb-mod i {
    color: #00008b
}

/*fonty monty*/
#HCB_comment_box input, #HCB_comment_box input.btn, #HCB_comment_box select, #HCB_comment_box textarea {
    color: var(--text-color);
    font-family: var(--font), sans-serif !important;
}
