:root {
    --home-icon: url("images/icons/home.png");
    --about-icon: url("images/icons/about.png");
    --projects-icon: url("images/icons/projects.png");

    --topbar-height: 32px;
    --icon-size: 32px;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

.topbar {
    overflow: hidden;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: black;

    box-shadow: 0px 10px rgba(0, 0, 0, 0.5);
    
}

.topbar a {
    float: right;
    padding: 10px 5px;
}